.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/sessions/*
!application/sessions/index.html

######Folder##########
assets/attendance/*
!assets/attendance/index.html

assets/images/avatars/*
!assets/images/avatars/index.html

assets/buktitl/*
!assets/buktitl/index.html

assets/buktitransfer/*
!assets/buktitransfer/index.html

assets/document/*
!assets/document/index.html
!assets/document/Contoh Dokument.pdf

assets/documentpo/*
!assets/documentpo/index.html

assets/documentsupport/*
!assets/documentsupport/index.html

assets/documenttemp/*
!assets/documenttemp/index.html

assets/invoice/*
!assets/invoice/index.html

assets/ktp/*
!assets/ktp/index.html

assets/suratmasuk/*
!assets/suratmasuk/index.html

assets/whatsapp/*
!assets/whatsapp/index.html

service/*
!service/index.html

wa_credentials/*

#####FILE#######
!application/*/.htaccess

application/config/database.php
application/hooks/EnvironmentLoader.php
.env

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
